{% extends 'base.html.twig' %}

{% block title %}Collections
{% endblock %}

{% block body %}

	<a href="{{ path('home') }}"><i class="far fa-arrow-alt-circle-left h2"></i></a>
	<h1 class="mb-3 text-center">Mes Collections</h1>
	<div class="container d-flex flex-wrap">
		{% for category in categories|sort((a, b) => a.name <=> b.name) %}
			<div class="card text-center my-5 mx-auto col-lg-5">
				<div class="card-header alert alert-danger">
					<h2 class="card-title">{{ category.name }}</h2>
				</div>
				<div class="card-body">
					<p class="card-text">Il y a actuellement
						{{ category.product|length }}
						article{% if category.product|length > 1 %}s{% endif %}
						dans la collection
						{{ category.name }}</p>
				</div>
				<div class="card-footer">
					<a href="{{ path('category', {'categorySlug': category.slug}) }}" class="btn shop">Y aller</a>
				</div>
			</div>
		{% else %}
			<h2>Aucune collection de disponible</h2>
		</div>
	{% endfor %}
</div>{% endblock %}
