{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}
{% block title %}Bienvenue
{% endblock %}
{% block body %}
	{% block flash_messages %}
		{{ include('@EasyAdmin/flash_messages.html.twig') }}
	{% endblock flash_messages %}
	<head>
		{% if event is not null %}
		{% for event in event %}
			<div class="event card text-center col-lg-9 mx-auto my-5">
				<div class="card-header alert alert-danger">
					<h1>Prochain évènement à ne pas rater</h1>
					<h2>{{ event.title }}</h2>
				</div>
				<div>
					<p class="h4">{{ event.address }},
						{{ event.city }}
						{{ event.postalCode }}</p>
				</div>
				<div class="card-body d-flex flex-row justify-content-between">
					<p>Le
						{{ event.date|format_date('full') }}</p>
					<p>{{ event.hour }}</p>
				</div>
				<div class="card-body">
					<p>{{ event.description }}</p>
				</div>
				<div class="card-footer">
					<a class="btn shop" target="_blank" href="http://maps.google.com/?q={{ event.address }} {{ event.postalCode }} {{ event.city }}">S'y rendre</a>
				</div>
			</div>
		{% endfor %}
		{% endif %}
	</head>
</div>
<div class="container-fluid ">
		<div class="text-center">
			<h3 class="banner__bottom-info mb-2">Nouveautés</h3>
			<p>Ici vous trouverez certains des articles nouvellement fabriqués et disponibles.</p>
		</div>
		<div class="col-lg-12">
			<div class="d-md-flex flex-row overflow-auto col-lg-11 mx-auto">
				{% for product in products %}
					<div class=" col-lg-2 col-sm-6 mx-4">
						<a href="#{{ product.id }}"><img src="{{ product.picture }}" class="card-img mt-4"></a>
					</div>
					<div id="{{ product.id }}" class="popup__content">
						<div class="popup">
							<a href="{{ path('article', {'categorySlug' : product.category.slug , 'productSlug': product.slug}) }}">
								<img src="{{ product.picture }}" alt="Popup image" class="img-fluid mt-4"/>
								<a class="close" href="#gallery">&times;</a>
								<h1 class="my-2">{{ product.name }}</h1>
								<p>{{ product.price }}€ + Frais de port
								</p>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
</div>
<section class="py-5">
	<div class="container py-md-3 banner__middle">
		<div class="row text-center">
			<div class="col-lg-3 banner__middle-content mx-auto mt-2">
				<div class="banner__middle-content--info">
					<h4>Fait à la main</h4>
					<p class="pb-2 mb-2">Tous mes articles sont créés par moi même. Se sont tous des articles uniques.</p>
				</div>
			</div>
			<div class="col-lg-5 banner__middle-content mx-auto mt-2">
				<div class="banner__middle-content--info">
					<h4>Livraison ou Récupération sur place</h4>
					<p class="pb-2 mb-2">Pour la récupération sur place les prix ne change pas, Par contre pour la livraison il y aura 2.89€ de frais de port compris. Livraison à domicile par La Poste</p>
				</div>
			</div>
			<div class="col-lg-3 banner__middle-content mx-auto mt-2">
				<div class="banner__middle-content--info">
					<h4>Achat de lot</h4>
					<p class="pb-2 mb-2">Lors d'un achat supérieur à 50€, les frais de port sont offerts</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
