{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block title %}Commandes
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<a href="javascript:history.go(-1)"><i class="far fa-arrow-alt-circle-left h2"></i></a>
		<h1 class="mb-3 text-center">Mes commandes
		</h1>
			<div class="accordion col-md-10 mx-auto my-5" id="accordion">
		{% for order in orders|sort((a, b) => b.createdAt <=> a.createdAt) %}
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading_{{ order.id }}">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ order.id }}" aria-expanded="true" aria-controls="collapse_{{ order.id }}">
							{% if order.status is defined %}
							<span class="btn rupt mx-5">{{ order.status }}</span>
							{% endif %}
							<p class="h3 mx-auto">Commande du
								{{ order.createdAt|format_datetime('full', 'none') }}</p>
						</button>
					</h2>
					<div id="collapse_{{ order.id }}" class="accordion-collapse collapse mb-5" aria-labelledby="heading_{{ order.id }}" data-bs-parent="#accordion">
						<div class="accordion-body text-center">
							<div class="d-flex flex-wrap">
								<div class="mx-auto mt-2">
									<h3 class="text-center">Facturation</h3>
									<p>{{ order.client.lastname }}
										{{ order.client.firstname }}</p>
									<p>{{ order.client.address|title }},
										{{ order.client.postalCode }}
										{{ order.client.city }}</p>
									<p>{{ order.client.phone }}</p>
									<p>{{ order.client.email }}</p>
								</div>
								<div class="mx-auto mt-2">
									<h3 class="text-center">Articles</h3>
									<table class="table">
										<thead>
											<th>Articles</th>
											<th>Collection</th>
											<th>Prix</th>
										</thead>
										{% for product in order.product %}
											<tbody>
												<td>{{ product.name }}</td>
												<td>{{ product.category.name }}</td>
												<td>{{ product.price|format_currency('EUR', {}) }}</td>
											{% endfor %}
										</tbody>
										<tfoot>
											<th></th>
											<th>Total :
												{{ order.price|format_currency('EUR', {}) }}
												{% if order.price < 50 %}
													+ 2.89€ de frais de port
												{% endif %}
											</th>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
					</div>
				{% else %}
					Aucune commande trouvé
				{% endfor %}
			</div>
			</div>
		{% endblock %}
