{% extends 'base.html.twig' %}

{% block title %}Mes Messages
{% endblock %}

{% block body %}

	<a href="javascript:history.go(-1)"><i class="far fa-arrow-alt-circle-left h2"></i></a>
	<div class="container text-center">

		<h1 class="mb-5 text-center">Mes Messages</h1>
		<div class="d-flex justify-content-center">
			<div class="accordion col-lg-8" id="accordion">
				<div class="accordion-item">
					{% for message in messages %}
						<h2 class="accordion-header" id="heading_{{ message.id }}">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ message.id }}" aria-expanded="true" aria-controls="collapse_{{ message.id }}">
										<span class="btn rupt mx-auto">{{ message.status.status }}</span>
								<p class="h4">Message du
									{{ message.createdAt|format_datetime('full', 'short') }}</p>
							</button>
						</h2>
						<div id="collapse_{{ message.id }}" class="accordion-collapse collapse" aria-labelledby="heading_{{ message.id }}" data-bs-parent="#accordion">
							<div class="accordion-body text-center">
								<div class="mx-auto mt-2">
									<p>{{ message.message|title }}</p>
								</div>
							</div>
							<div class="card-footer">
								<a class="btn shop" href="{{ path('contact') }}">Répondre</a>
							</div>
						</div>
						</div>
					{% endfor %}
				</div>
			</div>
			</div>
		</div>
	{% endblock %}
